.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(22, 65, 65);
  color: white;
  background-color: rgb(39, 113, 113);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #daf7f7;
  color: rgb(39, 113, 113);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translate(5px);
  }

  12.5% {
    transform: translate(-10px);
  }

  25% {
    transform: translate(10px);
  }

  37.5% {
    transform: translate(-10px);
  }

  50% {
    transform: translate(10px);
  }

  67.5% {
    transform: translate(-10px);
  }

  75% {
    transform: translate(10px);
  }

  87.5% {
    transform: translate(-10px);
  }

  100% {
    transform: translate(5px);
  }
}
