.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: rgb(86, 181, 181);
  text-align: center;
  background-color: rgb(46, 53, 53);
  padding: 2.5px 20px;
  z-index: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: rgb(50, 237, 237);
}
img{
  width: 13px;
}