@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background: radial-gradient(rgb(11, 148, 148) 0, rgb(22, 65, 65) 50%, rgb(27, 45, 45) 100%);
  background-color: #008080;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
}
